@font-face{
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('SourceCodePro-Regular.eot') format('embedded-opentype'),
         url('SourceCodePro-Regular.ttf.woff2') format('woff2'),
         url('SourceCodePro-Regular.otf.woff') format('woff'),
         url('SourceCodePro-Regular.otf') format('opentype'),
         url('SourceCodePro-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('SourceCodePro-Bold.eot') format('embedded-opentype'),
         url('SourceCodePro-Bold.ttf.woff2') format('woff2'),
         url('SourceCodePro-Bold.otf.woff') format('woff'),
         url('SourceCodePro-Bold.otf') format('opentype'),
         url('SourceCodePro-Bold.ttf') format('truetype');
}
