{% load static %}
<section id="portfolio" class="portfolio section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Portfolio</h2>
            <p>Explore a selection of my projects showcasing my skills and expertise.</p>
        </div>

        <div class="row" data-aos="fade-up">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-app">App</li>
<!--                    <li data-filter=".filter-card">Card</li>-->
                    <li data-filter=".filter-web">Web</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

            <!-- Replace the following portfolio items with your actual projects -->
            <!-- Sample portfolio item -->
            <div class="col-lg-3 col-md-7 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="https://github.com/ralphy89/FitnessApp/blob/main/Screens/auth_screen.gif?raw=true" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="https://github.com/ralphy89/FitnessApp/blob/main/Screens/auth_screen.gif?raw=true" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                        <a href="https://github.com/ralphy89/FitnessApp" title="More Details"><i class="bx bxl-github"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="https://github.com/ralphy89/Flash_Card/blob/main/flash_card3.gif?raw=true" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="https://github.com/ralphy89/Flash_Card/blob/main/flash_card3.gif?raw=true" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                        <a href="https://github.com/ralphy89/Flash_Card" title="More Details"><i class="bx bxl-github"></i></a>
                    </div>
                </div>
            </div>

            <!-- Add more portfolio items here -->

        </div>

    </div>
 </section><!-- End Portfolio Section -->