<section id="resume" class="resume">
    <div class="container">
        {% include 'app/download_btn.html' %}

        <div class="section-title">
            <h2>Resume</h2>
            <p>{{about}}</p><br>

            <p>{{resume.profile}}</p>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
                <h3 class="resume-title">Summary</h3>
                <div class="resume-item pb-0">
                    <h4>{{name}} {{lastname}}</h4>
                    <p>
                        <em>
                           {{resume.profile_1}}
                        </em>
                    </p>
                    <ul>
                        <li>{{city}}</li>
<!--                        <li>{{phone}}</li>-->
                        <li><a href="mailto:{{email}}"><span>{{email}}</span></a></li>
                    </ul>
                </div>

                <h3 class="resume-title">Education</h3>
                {% for education in educations %}
                    <div class="resume-item">
                        <h4>{{education.degree}}</h4>
                        <h5>{{education.start_year}} - {{education.end_year}}</h5>
                        <a href="{{education.university_link}}" style="text-decoration: none; text-align: justify">
                            <p>
                                <em>{{education.university}}</em>
                            </p>
                        </a>
                        <p>
                            {{education.description}}
                        </p>
                    </div>
                {% endfor %}
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
<!--                -->
<!--                <h3 class="resume-title">Professional Experience</h3>-->
<!--                <div class="resume-item">-->
<!--                    <h4>Senior graphic design specialist</h4>-->
<!--                    <h5>2019 - Present</h5>-->
<!--                    <p><em>Experion, New York, NY </em></p>-->
<!--                    <ul>-->
<!--                        <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>-->
<!--                        <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project. </li>-->
<!--                        <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design</li>-->
<!--                        <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                <div class="resume-item">-->
<!--                    <h4>Graphic design specialist</h4>-->
<!--                    <h5>2017 - 2018</h5>-->
<!--                    <p><em>Stepping Stone Advertising, New York, NY</em></p>-->
<!--                    <ul>-->
<!--                        <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).</li>-->
<!--                        <li>Managed up to 5 projects or tasks at a given time while under pressure</li>-->
<!--                        <li>Recommended and consulted with clients on the most appropriate graphic design</li>-->
<!--                        <li>Created 4+ design presentations and proposals a month for clients and account managers</li>-->
<!--                    </ul>-->
<!--                </div>-->

            </div>
        </div>
        <hr>
        {% include 'app/download_btn.html' %}

    </div>
</section>

<!-- End Resume Section -->
