<section id="resume" class="resume">
    <div class="container">
        {% include 'app/download_btn.html' %}

        <div class="section-title">
            <h2>Resume</h2>
            <p>{{about}}</p><br>

            <p>{{resume.profile}}</p>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
                <h3 class="resume-title">Summary</h3>
                <div class="resume-item pb-0">
                    <h4>{{name}} {{lastname}}</h4>
                    <p>
                        <em>
                           {{resume.profile_1}}
                        </em>
                    </p>
                    <ul>
                        <li>{{city}}</li>
<!--                        <li>{{phone}}</li>-->
                        <li><a href="mailto:{{email}}"><span>{{email}}</span></a></li>
                    </ul>
                </div>

                <h3 class="resume-title">Education</h3>
                {% for education in educations %}
                    <div class="resume-item">
                        <h4>{{education.degree}}</h4>
                        <h5>{{education.start_year}} - {{education.end_year}}</h5>
                        <a href="{{education.university_link}}" style="text-decoration: none; text-align: justify">
                            <p>
                                <em>{{education.university}}</em>
                            </p>
                        </a>
                        <p>
                            {{education.description}}
                        </p>
                    </div>
                {% endfor %}
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
               <h3 class="resume-title">Professional Experience</h3>
                {% for experience in experiences %}
                    <div class="resume-item">
                        <h4>{{ experience.titre }} - <span class="badge badge-info ">{{ experience.type }}</span></h4>
                        {% if experience.present|stringformat:"s" ==  present %}
                            <h5>{{ experience.start_year }} - <span class="badge badge-success">Present</span></h5>
                        {% else %}
                            <h5>{{ experience.start_year }} - {{ experience.end_year }}</h5>
                        {% endif %}
                        <p><em><strong>{{ experience.organisation|safe }}</strong>, {{ experience.location }}</em></p>
                        <p>{{ experience.description|safe }}</p>
                    </div>
                {% endfor %}


            </div>
        </div>
        <hr>
        {% include 'app/download_btn.html' %}

    </div>
</section>

<!-- End Resume Section -->
